<div class=container>
  <h3>Ajouter un de vos collegues</h3>
  <div class=row>
    <form #monForm="ngForm">

      <label>Matricule</label>
      <input [(ngModel)]="modelCollegue.matricule" name="matricule" required>

      <label>Pseudo</label>
      <input [(ngModel)]="modelCollegue.pseudo" name="pseudo" required minlength="2">

      <label>URL image</label>
      <input [(ngModel)]="modelCollegue.urlImage" name="urlImage">

      <button (click)="valider()" [disabled]="monForm.invalid">Ajouter</button>
    </form>
  </div>
</div>